In [1]:
import datetime
import pandas as pd

In [2]:
df = pd.DataFrame(
            [
                {
                    "res_id": 83843,
                    "res_dt": "2021-03-21 00:00:00",
                    "date": "2021-03-21 00:00:00",
                    "train_nr": 556,
                    "line": "IC 3",
                    "reserved": 1.0,
                    "capacity": 15.0,
                    "bp_from": "ZUE",
                    "bp_to": "BS",
                    "dep_soll": "2021-03-21 06:34:30",
                    "arr_soll": "2021-03-21 07:28:00"
                }
            ]
        )
df

,res_id,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_soll,arr_soll
0,83843,2021-03-21 00:00:00,2021-03-21 00:00:00,556,IC 3,1.0,15.0,ZUE,BS,2021-03-21 06:34:30,2021-03-21 07:28:00

In [74]:
reservations = pd.read_csv("reservation_data_2019-2021.csv")
reservations.set_index("res_id", inplace=True)
reservations

/Users/oli/miniforge3/envs/tensorflow/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7,9,14,17,20,24) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,res_dt,einst_zug,reisetag,dl,wagen,wty,abt_char,verweis,gr_kkat,platz,...,pruefzahl,buch_tag,ann_tag,term_buch,term_ann,dlt,klasse,zug,linie,strecke
res_id,,,,,,,,,,,,,,,,,,,,,
0,29.03.19,510.8,01.04.19,1,1.0,629 - Bt,NaN,NaN,NaN,151,...,45 3330206594,29.03.19,NaN,85 0000552,NaN,1,Velo,510,IC 5,NaN
1,01.04.19,510.8,01.04.19,1,1.0,629 - Bt,NaN,NaN,NaN,152,...,45 3360022378,01.04.19,NaN,85 1901100,NaN,1,Velo,510,IC 5,NaN
2,01.04.19,512.8,01.04.19,1,1.0,629 - Bt,NaN,NaN,NaN,151,...,45 3360036915,01.04.19,NaN,85 1901100,NaN,1,Velo,512,IC 5,NaN
3,01.04.19,513.8,01.04.19,1,1.0,629 - Bt,NaN,NaN,NaN,151,...,45 3360026367,01.04.19,NaN,85 1901100,NaN,1,Velo,513,IC 5,YVERDON - NEUCHATEL
4,01.04.19,516.8,01.04.19,1,1.0,629 - Bt,NaN,NaN,NaN,151,...,45 3360036480,01.04.19,NaN,85 1643700,NaN,1,Velo,516,IC 5,OLTEN - YVERDON
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246183,31.10.21 17:35,1632.8,31.10.21 00:00,1,1.0,629 - Bt,RAD Stellplatz,NaN,NaN,152,...,45 2800103849,31.10.21 00:00,17:35:00,85 1901100,NaN,1-Reservierung,Velo,1632,IC 51,NaN
246184,31.10.21 17:35,1633.8,31.10.21 00:00,1,1.0,629 - Bt,RAD Stellplatz,NaN,NaN,151,...,45 2800105008,31.10.21 00:00,17:35:00,85 1901100,NaN,1-Reservierung,Velo,1633,IC 51,NaN
246185,31.10.21 18:40,1633.8,31.10.21 00:00,1,1.0,629 - Bt,RAD Stellplatz,NaN,NaN,152,...,45 2800101995,31.10.21 00:00,18:40:00,85 1901100,NaN,1-Reservierung,Velo,1633,IC 51,NaN
246186,31.10.21 18:51,1634.8,31.10.21 00:00,1,1.0,629 - Bt,RAD Stellplatz,NaN,NaN,151,...,45 2800115177,31.10.21 00:00,18:51:00,85 1901100,NaN,1-Reservierung,Velo,1634,IC 51,NaN
246187,31.10.21 17:16,1635.8,31.10.21 00:00,1,1.0,629 - Bt,RAD Stellplatz,NaN,NaN,151,...,45 2800085931,31.10.21 00:00,17:16:00,85 1901100,NaN,1-Reservierung,Velo,1635,IC 51,NaN

In [75]:
parse_dates = ["res_dt", "date", "dep_ist", "dep_soll", "arr_ist", "arr_soll"]
reservations_incl_capacity = pd.read_csv("reservation_data_2019-2021_incl_capacity.csv", parse_dates=parse_dates)
reservations_incl_capacity.set_index("res_id", inplace=True)
reservations_incl_capacity

,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_ist,dep_soll,arr_ist,arr_soll,res_delta_ist,res_delta_soll,res_delta_valid
res_id,,,,,,,,,,,,,,,
0,2019-03-29 00:00:00,2019-01-04,510,IC 5,1,NaN,ZUE,NE,2019-01-04 07:04:00,2019-01-04 07:03:00,2019-01-04 08:33:00,2019-01-04 08:32:00,284667.0,284634,False
1,2019-01-04 00:00:00,2019-01-04,510,IC 5,1,NaN,BI,GE,2019-01-04 08:17:00,2019-01-04 08:16:00,2019-01-04 09:43:00,2019-01-04 09:45:00,29854.0,29778,False
2,2019-01-04 00:00:00,2019-01-04,512,IC 5,1,NaN,BI,YV,2019-01-04 09:16:00,2019-01-04 09:16:00,2019-01-04 09:51:00,2019-01-04 09:51:00,33406.0,33378,False
3,2019-01-04 00:00:00,2019-01-04,513,IC 5,1,NaN,YV,NE,2019-01-04 08:09:00,2019-01-04 08:07:00,2019-01-04 08:27:00,2019-01-04 08:24:00,29360.0,29220,False
4,2019-01-04 00:00:00,2019-01-04,516,IC 5,1,NaN,OL,YV,2019-01-04 10:41:00,2019-01-04 10:41:00,2019-01-04 11:52:00,2019-01-04 11:51:00,38509.0,38460,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246183,2021-10-31 17:35:00,2021-10-31,1632,IC 51,1,6.0,BS,BI,2021-10-31 18:03:00,2021-10-31 18:03:00,2021-10-31 19:09:00,2021-10-31 19:10:00,1714.0,1710,True
246184,2021-10-31 17:35:00,2021-10-31,1633,IC 51,1,6.0,BI,BS,2021-10-31 18:49:00,2021-10-31 18:49:00,2021-10-31 19:54:00,2021-10-31 19:53:00,4481.0,4470,True
246185,2021-10-31 18:40:00,2021-10-31,1633,IC 51,1,6.0,BI,BS,2021-10-31 18:49:00,2021-10-31 18:49:00,2021-10-31 19:54:00,2021-10-31 19:53:00,581.0,570,True
246186,2021-10-31 18:51:00,2021-10-31,1634,IC 51,1,6.0,LFN,BI,2021-10-31 19:21:00,2021-10-31 19:21:00,2021-10-31 20:10:00,2021-10-31 20:10:00,1809.0,1848,True
246187,2021-10-31 17:16:00,2021-10-31,1635,IC 51,1,6.0,BI,DMT,2021-10-31 19:49:00,2021-10-31 19:49:00,2021-10-31 20:17:00,2021-10-31 20:18:00,9216.0,9210,True

In [80]:
columns_to_drop = ['dep_ist', 'arr_ist', 'res_delta_ist', 'res_delta_soll', 'res_delta_valid']
reservations_incl_capacity = reservations_incl_capacity.drop(columns_to_drop, axis=1)

KeyError: "['dep_ist' 'arr_ist' 'res_delta_ist' 'res_delta_soll' 'res_delta_valid'] not found in axis"

In [84]:
reservations_incl_capacity.sort_values(["line", "dep_soll", "arr_soll"]).iloc[0]["dep_soll"]

Timestamp('2021-01-04 12:20:00')

In [87]:
reservations_incl_capacity_sorted = reservations_incl_capacity.sort_values(["line", "dep_soll", "arr_soll"])
reservations_incl_capacity_sorted

,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_soll,arr_soll
res_id,,,,,,,,,,
87160,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87161,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87162,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87163,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87164,2021-03-30 00:00:00,2021-01-04,31151,Div,1,12.0,GD,BEL,2021-01-04 12:51:00,2021-01-04 13:46:00
...,...,...,...,...,...,...,...,...,...,...
216957,2021-09-09 15:40:00,2021-12-09,802,IC 8,1,9.0,SP,VI,2021-12-09 06:37:00,2021-12-09 07:02:00
216958,2021-09-09 16:00:00,2021-12-09,802,IC 8,1,9.0,SP,VI,2021-12-09 06:37:00,2021-12-09 07:02:00
216967,2021-11-09 19:59:00,2021-12-09,803,IC 8,1,12.0,WF,RH,2021-12-09 06:55:00,2021-12-09 07:12:00
216968,2021-11-09 22:22:00,2021-12-09,803,IC 8,1,12.0,WF,RH,2021-12-09 06:55:00,2021-12-09 07:12:00
217359,2021-12-09 20:51:00,2021-12-09,836,IC 8,1,18.0,AW,ZUE,2021-12-09 20:55:00,2021-12-09 21:55:00

In [88]:
reservations_incl_capacity_sorted.iloc[1]

res_dt      2021-03-03 00:00:00
date        2021-01-04 00:00:00
train_nr                  31151
line                        Div
reserved                      1
capacity                   12.0
bp_from                      LZ
bp_to                       BEL
dep_soll    2021-01-04 12:20:00
arr_soll    2021-01-04 13:46:00
Name: 87161, dtype: object

In [81]:
reservations_incl_capacity_sorted = reservations_incl_capacity.sort_values(["line", "dep_soll", "arr_soll"])
start = reservations_incl_capacity_sorted.iloc[0]["dep_soll"]
end = reservations_incl_capacity_sorted.iloc[0]["dep_soll"]
blocks = [{"start": start, "end": end, "reservations": int(reservations_incl_capacity_sorted.iloc[0]["reserved"])}]
for i, reservation in reservations_incl_capacity_sorted.iloc[1:].iterrows():
    res_start = reservation["dep_soll"]
    res_end = reservation["arr_soll"]
    if start < res_start < end:
        blocks[i]["end"] = res_start
        blocks.append({"start": res_start, "end": min(res_end, end), "reservation": int(reservation["reserved"]) + })
        end = max(res_end, end)
    elif res_start > end:
        blocks.append({"start": res_start, "end": res_end, "reservations": int(reservation["reserved"])})
    else:
        continue
    if start < res_end < end:

,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_soll,arr_soll
res_id,,,,,,,,,,
87160,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87161,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87162,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87163,2021-03-03 00:00:00,2021-01-04,31151,Div,1,12.0,LZ,BEL,2021-01-04 12:20:00,2021-01-04 13:46:00
87164,2021-03-30 00:00:00,2021-01-04,31151,Div,1,12.0,GD,BEL,2021-01-04 12:51:00,2021-01-04 13:46:00
...,...,...,...,...,...,...,...,...,...,...
216957,2021-09-09 15:40:00,2021-12-09,802,IC 8,1,9.0,SP,VI,2021-12-09 06:37:00,2021-12-09 07:02:00
216958,2021-09-09 16:00:00,2021-12-09,802,IC 8,1,9.0,SP,VI,2021-12-09 06:37:00,2021-12-09 07:02:00
216967,2021-11-09 19:59:00,2021-12-09,803,IC 8,1,12.0,WF,RH,2021-12-09 06:55:00,2021-12-09 07:12:00
216968,2021-11-09 22:22:00,2021-12-09,803,IC 8,1,12.0,WF,RH,2021-12-09 06:55:00,2021-12-09 07:12:00
217359,2021-12-09 20:51:00,2021-12-09,836,IC 8,1,18.0,AW,ZUE,2021-12-09 20:55:00,2021-12-09 21:55:00

In [92]:
reservations_incl_capacity_21 = reservations_incl_capacity[reservations_incl_capacity["date"] > datetime.datetime(2021, 1, 1)]

# Drop NaN's in capacity column
reservations_incl_capacity_21 = reservations_incl_capacity_21.loc[reservations_incl_capacity_21["capacity"].dropna().index, :]
reservations_incl_capacity_21

,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_soll,arr_soll
res_id,,,,,,,,,,
83843,2021-03-21 00:00:00,2021-03-21,556,IC 3,1,15.0,ZUE,BS,2021-03-21 06:34:00,2021-03-21 07:28:00
83844,2021-04-03 00:00:00,2021-03-21,557,IC 3,1,9.0,ZUE,CH,2021-03-21 06:38:00,2021-03-21 07:52:00
83845,2021-03-21 00:00:00,2021-03-21,563,IC 3,1,24.0,ZUE,CH,2021-03-21 09:38:00,2021-03-21 10:52:00
83846,2021-03-21 00:00:00,2021-03-21,563,IC 3,1,24.0,ZUE,CH,2021-03-21 09:38:00,2021-03-21 10:52:00
83847,2021-03-20 00:00:00,2021-03-21,564,IC 3,1,9.0,CH,ZUE,2021-03-21 09:08:00,2021-03-21 10:22:00
...,...,...,...,...,...,...,...,...,...,...
246183,2021-10-31 17:35:00,2021-10-31,1632,IC 51,1,6.0,BS,BI,2021-10-31 18:03:00,2021-10-31 19:10:00
246184,2021-10-31 17:35:00,2021-10-31,1633,IC 51,1,6.0,BI,BS,2021-10-31 18:49:00,2021-10-31 19:53:00
246185,2021-10-31 18:40:00,2021-10-31,1633,IC 51,1,6.0,BI,BS,2021-10-31 18:49:00,2021-10-31 19:53:00
246186,2021-10-31 18:51:00,2021-10-31,1634,IC 51,1,6.0,LFN,BI,2021-10-31 19:21:00,2021-10-31 20:10:00
246187,2021-10-31 17:16:00,2021-10-31,1635,IC 51,1,6.0,BI,DMT,2021-10-31 19:49:00,2021-10-31 20:18:00

In [99]:
reservations_incl_capacity_21[reservations_incl_capacity_21["train_nr"] == 333]

,res_dt,date,train_nr,line,reserved,capacity,bp_from,bp_to,dep_soll,arr_soll
res_id,,,,,,,,,,
129197,2021-01-06 00:00:00,2021-05-06,333,IC 6/61,1,8.0,BN,TH,2021-05-06 08:34:00,2021-05-06 08:52:00
129198,2021-01-06 00:00:00,2021-05-06,333,IC 6/61,1,8.0,BN,IO,2021-05-06 08:34:00,2021-05-06 09:28:00
129200,2021-05-06 00:00:00,2021-05-06,333,IC 6/61,1,8.0,BN,SP,2021-05-06 08:34:00,2021-05-06 09:03:00
209116,2021-09-08 13:03:00,2021-04-09,333,IC 6/61,1,12.0,BS,BN,2021-04-09 07:28:00,2021-04-09 08:26:00

In [93]:
grouped = reservations_incl_capacity_21.groupby(["train_nr", "line", "bp_from", "bp_to", "dep_soll", "arr_soll", "capacity"]).sum()
grouped

                                                                                 reserved
train_nr line    bp_from bp_to dep_soll            arr_soll            capacity
333      IC 6/61 BN      IO    2021-05-06 08:34:00 2021-05-06 09:28:00 8.0              1
                         SP    2021-05-06 08:34:00 2021-05-06 09:03:00 8.0              1
                         TH    2021-05-06 08:34:00 2021-05-06 08:52:00 8.0              1
                 BS      BN    2021-04-09 07:28:00 2021-04-09 08:26:00 12.0             1
504      IC 5    BI      GE    2021-03-10 05:16:00 2021-03-10 06:47:00 6.0              1
...                                                                                   ...
31417    Div     ZUE     BEL   2021-02-04 10:05:00 2021-02-04 11:47:00 28.0            13
                         GD    2021-02-04 10:05:00 2021-02-04 10:45:00 28.0             6
                         LG    2021-02-04 10:05:00 2021-02-04 12:08:00 28.0             3
31478    Div     BEL     ZUE   2021-05-04 13:48:00 2021-05-04 15:27:00 23.0             7
                 LG      ZUE   2021-05-04 13:31:00 2021-05-04 15:27:00 23.0             4

[93917 rows x 1 columns]

In [94]:
grouped_final = grouped.reset_index()
grouped_final.head(20)

,train_nr,line,bp_from,bp_to,dep_soll,arr_soll,capacity,reserved
0,333,IC 6/61,BN,IO,2021-05-06 08:34:00,2021-05-06 09:28:00,8.0,1
1,333,IC 6/61,BN,SP,2021-05-06 08:34:00,2021-05-06 09:03:00,8.0,1
2,333,IC 6/61,BN,TH,2021-05-06 08:34:00,2021-05-06 08:52:00,8.0,1
3,333,IC 6/61,BS,BN,2021-04-09 07:28:00,2021-04-09 08:26:00,12.0,1
4,504,IC 5,BI,GE,2021-03-10 05:16:00,2021-03-10 06:47:00,6.0,1
5,504,IC 5,BI,GE,2021-08-13 05:16:00,2021-08-13 06:47:00,6.0,4
6,504,IC 5,BI,MOR,2021-04-05 05:16:00,2021-04-05 06:16:00,6.0,1
7,504,IC 5,BI,MOR,2021-05-20 05:16:00,2021-05-20 06:16:00,6.0,1
8,504,IC 5,BI,MOR,2021-05-25 05:16:00,2021-05-25 06:16:00,6.0,1
9,504,IC 5,BI,MOR,2021-05-27 05:16:00,2021-05-27 06:16:00,6.0,1
10,504,IC 5,GE,GEAP,2021-05-18 06:50:00,2021-05-18 06:56:00,6.0,1
11,504,IC 5,MOR,GE,2021-01-09 06:18:00,2021-01-09 06:47:00,6.0,1
12,504,IC 5,MOR,GE,2021-02-08 06:18:00,2021-02-08 06:47:00,6.0,1
13,504,IC 5,MOR,GE,2021-03-08 06:18:00,2021-03-08 06:47:00,6.0,1
14,504,IC 5,MOR,GE,2021-03-23 06:18:00,2021-03-23 06:47:00,6.0,1
15,504,IC 5,MOR,GE,2021-03-30 06:18:00,2021-03-30 06:47:00,6.0,1
16,504,IC 5,MOR,GE,2021-04-06 06:18:00,2021-04-06 06:47:00,6.0,1
17,504,IC 5,MOR,GE,2021-04-13 06:18:00,2021-04-13 06:47:00,6.0,1
18,504,IC 5,MOR,GE,2021-06-21 06:18:00,2021-06-21 06:47:00,6.0,1
19,504,IC 5,MOR,GE,2021-06-23 06:18:00,2021-06-23 06:47:00,6.0,1

In [97]:
for row in grouped_final[grouped_final["train_nr"] == 333].iterrows():

,train_nr,line,bp_from,bp_to,dep_soll,arr_soll,capacity,reserved
0,333,IC 6/61,BN,IO,2021-05-06 08:34:00,2021-05-06 09:28:00,8.0,1
1,333,IC 6/61,BN,SP,2021-05-06 08:34:00,2021-05-06 09:03:00,8.0,1
2,333,IC 6/61,BN,TH,2021-05-06 08:34:00,2021-05-06 08:52:00,8.0,1
3,333,IC 6/61,BS,BN,2021-04-09 07:28:00,2021-04-09 08:26:00,12.0,1

In [53]:
grouped_final[grouped_final["capacity"] <= grouped_final["reserved"]]

,train_nr,line,dep_soll,arr_soll,capacity,reserved
498,508,IC 5,2021-08-21 06:04:00,2021-08-21 08:56:00,6.0,6
3245,513,IC 5,2021-04-25 10:03:00,2021-04-25 11:02:00,6.0,6
3724,513,IC 5,2021-10-24 08:46:00,2021-10-24 09:29:00,6.0,6
3739,513,IC 5,2021-11-07 07:42:00,2021-11-07 09:56:00,6.0,6
4880,515,IC 5,2021-04-18 08:42:00,2021-04-18 09:59:00,6.0,6
...,...,...,...,...,...,...
92948,1631,IC 51,2021-08-28 17:49:00,2021-08-28 18:53:00,0.0,6
92949,1631,IC 51,2021-08-29 17:49:00,2021-08-29 18:53:00,6.0,6
93372,1634,IC 51,2021-08-18 19:21:00,2021-08-18 20:10:00,0.0,1
93506,1635,IC 51,2021-09-09 19:49:00,2021-09-09 20:53:00,6.0,6
93819,1640,IC 51,2021-08-28 22:03:00,2021-08-28 23:10:00,0.0,1

In [54]:
set(reservations_incl_capacity["line"])

{'Div', 'IC 1', 'IC 2/21', 'IC 3', 'IC 5', 'IC 51', 'IC 6/61', 'IC 8'}